/********** General ***********/
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body {
  overflow: hidden;
  margin: 0 auto;
}
.octodex {
  overflow: hidden;
  padding-left: 0;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #dbdbdb;
  overflow: hidden;
  position: absolute;
  right: 5px;
  bottom: 36px;
}
.octonumber:before {
  content: "#";
  display: inline;
}
/********** Images ***********/
li.octocat {
  float: left;
  width: 30%;
  margin-left: 30px;
  border-bottom: #dbdbdb solid 1px;
  list-style: none;
  position: relative;
}
a img {
  width: 100%;
  border: #dbdbdb solid 1px;
  border-radius: 3px;
}
footer img {
  width: 20px;
  border: transparent;
  border-radius: 3px;
}
footer cite {
  float: right;
}
footer {
  margin-top: -4px;
}
/********** Font & Main ***********/
.octonumber {
  color: #dbdbdb;
  font-weight: bolder;
  float: left;
}
.octonumber, cite {
  font-size: 13px;
}
/********** Authors ***********/
cite, cite p {
  float: left;
}
cite p {
  font: 13px;
  font-style: normal;
  font-weight: bold;
  color: #8e8e8e;
}
cite a {
  color: black;
  text-decoration: none;
  list-style: none;
}
.authors, .authors li {
  float: right;
}
.authors {
  list-style: none;
  padding-left: 8px;
  margin-top: 10px;
}
.authors li {
  float: right;
}
